/*MAIN STYLES*/

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin-top: 70px;
}

/*POST FORM STYLES*/

.error {
  color: #a94442;
}

.button-container {
  margin-top: -1px;
}

.button-container .button-one{
  padding-left: 0px;
}

.button-container .button-two {
  padding-right: 0px;
}

.new-post-container {
  margin-top: 69px;
  margin-bottom: -60px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #eee;
}

/*COMMENT FORM STYLES*/

.username {

  margin-bottom: -3px;
}

.comment-body {
  color: #999;
}

.comment-form {
  margin-left: 15px;
  margin-top: 30px;
}

.comment-section {
  margin-left: -14px;
}

.comment-form-container {

}

.comment-form-container .comment-text {
  height: 82px;
}

/*POST STYLES*/

.post-container {
  padding-bottom: 40px;
  padding-top: 40px;
  border-bottom: 1px solid #eee;
}

.post-container:last-child {
  border-bottom: none;
  margin-bottom: 30px;
}

.post-image {
  width: 160px;
  height: 160px;
  background-position: center;
  background-size: 200px auto;
  border: 1px solid #ccc;
}

.image-container {
  display: flex;
  justify-content: center;
  padding-top: 6px;
}

.hoverzoom {
  position: absolute;
  z-index: 100;
  margin-left: 300px;

}

.hoverzoom-img {
  max-width: 600px;
  max-height: 600px;
}

.vote-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 42px;
  margin-top: 8px;
  font-weight: bold;
  color: #aaa;
}

.detail-section {
  padding-right: 42px;
}

.vote-number {
  margin-top: 12px;
}

.vote-section a {
  color: #aaa;
}

.upVote {
  color: #FF8A5F;
}

.downVote {
  color: #7D6BFF;
  margin-right: 3px;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
}

.post-detail {
  color: #999;
  margin-bottom: 5px;
}

/*NAV STYLES*/

.nav {
  padding: 3px 30px 3px 50px;
  background-color: #CEE3F8;
  color: #1c1c1c;
  margin-bottom: 0;
}

.navContainer {
  padding-left: 7%;
  padding-right: 7%;
}

.navbar-brand {
  margin-top: -3px;
}

.nav a {
  color: #1c1c1c;
  margin-top: 6px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.icon-bar {
  background-color: #1c1c1c;
  margin-top: 8px;
}

.navbar ul a {
  color: #336699;
}

.navbar ul a:hover, .navbar ul a:focus {
  color: #063B6F;
  background-color: #eee;
}

.search-bar {
  width: 200px;
  margin-left: 20px;
}

/*TEXT STYLES*/

a {
  color: #336699;
}

/*ANIMATIONS*/

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeInOut.ng-enter {
  animation: 2s appear;
}

.fadeInOut.ng-leave {
  animation: 1s disappear;
}
